* {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

body {
  width: 60%;
  margin: auto;
  background-color: cadetblue;
}

header {
  width: 80%;
  margin: 50px auto;
  padding: 50px;
  background-color: darkgoldenrod;
  border: solid 2px white;
  border-radius: 25px;
  font-size: x-large;
  text-decoration: bold;
}

header h1 {
  text-align: center;
  font-size: xx-large;
  color: rgb( 37 42 56);
}

header p {
  text-align: center;
  padding: 15px 0;
  font-size: large;
  font-style: oblique;
}

form {
  display: flex;
  padding: 20px;
  margin: 20px 0;
  justify-content: space-between;
}

input {
  border: solid 2px darkslategrey;
  background-color: rgb(204 200 200);
  color: white;
  width: 60%;
}

.button-container {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

button {
  height: 20px;
  background-color: darkslategrey;
  border: solid 1px white;
  width: 30%;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: 10px;
  display: block;
  line-height: 0.9;
}

.completed {
  text-decoration: line-through solid black;
}
