#selected-task {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: Poppins, sans-serif;
  background-color: rgb(240 , 242 , 245);
  color: rgb(71 , 73 , 86);
}

li {
  cursor: pointer;
  margin-top: 2px;
  background-color: springgreen;
  border-radius: 8px;
}

button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255 , 255 , 255 , 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-shadow: 0 0.04em 0.04em rgba(0 , 0 , 0 , 0.35);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  background-color: white;
  outline: none;
}

button:hover {
  border-color: white;
}

button:active {
  transform: scale(0.95);
}

.red {
  background-color: rgb(236 , 70 , 70);
}

.green {
  background-color: springgreen;
  font-size: 20px;
}

.blue {
  background-color: rgb(138 , 224 , 237);
}

header h1 {
  font-size: 2.4em;
  margin-top: 10px;
}

header p {
  font-size: 1.2em;
  font-style: italic;
  color: rgb(51 , 52 , 58);
}

#section-board {
  max-width: 900px;
  margin: 3% auto;
  background-color: rgb(156 , 252 , 196);
  border-radius: 8px;
  box-shadow: 6px 9px 0 0 rgb(71 , 73 , 86);
}

#section-task {
  max-width: 100px;
  margin: auto;
  padding: 10px;
}

#section-btns {
  max-width: 900px;
  margin: 0 auto;
}

#section-btns div {
  margin: 16px;
}

#texto-tarefa {
  color: rgb(51 , 51 , 51);
  font-size: 16px;
  padding: 0.5rem;
  margin: 0 auto;
  border-radius: 0.2rem;
  background-color: snow;
  border: none;
  width: 30%;
  border-bottom: 0.3rem solid transparent;
  display: block;
}

#criar-tarefa {
  margin: 10px;
}
