body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(211, 153, 28);
}

header {
  
  font-size: 35px;
  font-weight: bold;
}

li {
  background-color: white;
}

.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
}

button {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 45px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#criar-tarefa, #remover-finalizados, #salvar-tarefas {
  background-color: rgb(63, 63, 223);
  border-color: rgb(63, 63, 223);
}

#apaga-tudo {
  background-color: #90191b;
  border-color: #90191b;
}

main {
  background-color: white;
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 30px;
  padding: 20px;
  border-radius: 20px;
}