main {
  text-align: center;
  font-family: monospace;
  width: fit-content;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

header {
  font-size: 30px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

input {
  border: 1px solid black;
  border-radius: 5px;
}

p {
  font-size: 11px;
}

ol {
  list-style-position: inside;
  width: fit-content;
  margin: auto;
}

ol li {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  text-align: left;
}

button {
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  font-weight: 800;
  padding: 5px;
}

#criar-tarefa {
  background-color: green;
  font-size: 20px;
  width: 32px;
}

#apaga-tudo , #remover-selecionado {
  background-color: red;
}

#remover-finalizados {
  background-color: rgb(201 , 157 , 36);
}

#salvar-tarefas {
  background-color: green;
}

#mover-cima , #mover-baixo {
  background-color: blue;
}

.selected {

  /* background-color: rgb(128 , 128 , 128); */
  background-color: gray;
  color: white;
  font-weight: 800;
  border: 1px solid black;
}

.completed {

  /* text-decoration: line-through solid rgb(0 , 0 , 0); */
  text-decoration: line-through solid black;
}
