#funcionamento {
  font-size: smaller;
}

#texto-tarefa {}

#lista-tarefas {}

#criar-tarefa {}

.add-background {
  background: rgb(128, 128, 128);
  width: min-content;
}

.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
}

#apaga-tudo {
  margin-top: 10%;
}

#remover-finalizados {
  margin-top: 10%;
}