button {
  width: 100px;
  height: 35px;
  border-radius: 45%;
}

header {
  font-size: 30px;
}

.list {
  background-color: white;
}

#funcionamento {
  margin-bottom: 20px;
}

#texto-tarefa {
  line-height: 25px;
}

#criar-tarefa {
  background-color: teal;
  cursor: pointer;
}

#box-list {
  margin-top: 20px;
}

.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
}

.colorList {
  background-color: rgb(128,128,128);
}
