body {
  background-color: rgb(217,224,224);
  font-family: Courier, monospace;
}

/* 9. Cria class completed com as seguintes prioridades definidas: 
Text-decoration: line-through solid rgb(0, 0, 0) */

.completed {
  text-decoration: line-through solid black;
}

header {
  background-color: white ;
  color: slategrey;
  margin: 20px 0;
  text-align: center;
}
