* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: lightslategray;
}

header {
  margin: 20px;
  background-color: white;
  width: 50%;
  text-align: center;
}

main {
  background-color: white;
  width: 95%;
  margin: 20px;
  margin-top: 40px;
  height: 380px;
}

#input-tools {
  margin: 15px;
  padding-top: 15px;
}

#lista-tarefas {
  margin-left: 40px;
}

li {
  padding: 10px;
}

.completed {
  text-decoration: line-through;
}
