.selected {

  /* background-color: rgb(128 , 128 , 128); */
  background-color: gray;
}

.completed {

  /* text-decoration: line-through solid rgb(0 , 0 , 0); */
  text-decoration: line-through solid black;
}
