* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(57 , 58 , 57);
  background-color: rgb(75 , 151 , 100);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

.blockText {
  text-align: center;
  background-color: rgb(246 , 247 , 248);
  border: 1px solid rgb(214 , 217 , 220);
  border-radius: 3px;
  width: 60%;
  margin: 40px 0;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
}

#funcionamento {
  font-size: small;
  font-style: italic;
}

#texto-tarefa {
  width: 300px;
  height: 30px;
  border-color: rgb(93 , 94 , 93);
  font-size: 16px;
}

#lista-tarefas {
  margin-left: 160px;
}

.text-list {
  color: rgb(71 , 70 , 70);
  text-align: justify;
  font-size: large;
  padding: 1.2px;
  font-weight: 600;
}

.styleButton {
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  padding: 6px 10px;
}

.styleButton:hover {
  background: linear-gradient(to bottom , rgb(78 , 151 , 75) 5% , grey 100%);
}

.styleButton:active {
  position: relative;
  top: 2px;
}

#criar-tarefa {
  border: 1px solid rgb(34 , 102 , 56);
  border-color: rgb(104 , 179 , 129);
  background: linear-gradient(to bottom , grey 1% , rgb(75 , 151 , 100) 100%);
  box-shadow: inset 0 1px 0 0 rgb(176 , 197 , 183);
  color: white;
  text-shadow: 0 1px 0 rgb(58 , 189 , 86);
}

.completed {
  text-decoration: line-through solid black;
}
