* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
  font-size: 16px;
}

#title {
  font-size: 24px;
}

#funcionamento {
  font-style: italic;
}

.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}
